@use "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: none;
}

.text-container {
  margin: 0 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.main-footer {
  min-height: 8rem;
  background-color: variables.$secondary-color;
}

.header-image {
  min-height: 200px;
  background-color: grey !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
}

@media (min-width: 1280px) {

  .text-container {
    max-width: 920px;
    margin: 0 auto;

    p {
      margin-bottom: 4rem;
    }
  }
}
