@use "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: none;
}

.content-container {
  margin: 0 2rem 4rem 2rem;

  p {
    margin-bottom: 2rem;
  }
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.teaser {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &-text {
    p {
      margin-bottom: 0;
    }
  }

  &-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}


.main-footer {
  min-height: 8rem;
  background-color: variables.$secondary-color;
}

.header-image {
  min-height: 200px;
  width: 100vw;
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #f6f6f6;
    font-size: 4.4rem;
  }
}

@media (min-width: 128px) {
  .teaser-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .teaser {
    display: flex;
    flex-direction: row;
    column-gap: 2.2rem;

    &-image img {
      width: auto;
      height: auto;
    }
  }
}
