@use "variables";

.navbar {
  .menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .menu-item  {
      border-radius: 8px;
      position: relative;

      > a {
        display: block;
        text-decoration: none;
        color: inherit;
      }

    }

  }
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  margin-top: 2rem;

  &__logo {
    z-index: 1;

    img {
      width: 120px;
      height: 120px;
    }
  }

  &__menu {
    display: none;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 1;
    right: 2rem;

    &__toggle {
      display: block;
      width: 70px;
      height: 10px;
      background-color: #25d366;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #023c02;

    > div {
      height: 100%;
    }

    .menu {
      padding: 0 2rem;
      height: 100%;
      display: flex;
      row-gap: 2rem;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      list-style: none;

      &-item {
        a {
          font-size: 2.2rem;
          color: #f4f4f4;
          text-decoration: none;
        }
      }
    }
  }

  .sub-menu {
    display: none;
    width: 100%;
    padding-top: 12px;
    list-style: none;
    position: absolute;
    left: 0;
  }
}

.sub-navigation {
  padding: 4px;
  display: none;

  a {
    padding: 0 !important;
    font-size: 0.8rem;
  }
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-navigation {

  .menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;

    .menu-item {

      &:hover {
        background-color: variables.$secondary-color;
        .sub-menu {
          display: block;
        }
      }

      a {
        padding: 12px 22px;
      }

    }
  }
}

@media (min-width: 680px) {
  .sub-navigation {
    display: block;
    background-color: variables.$secondary-color;

    .menu {
      justify-content: flex-end;
      padding-right: 2rem;

      .menu-item {
        &:not(:last-child) {
          a {
            &:after {
              content: "|";
              padding: 0 1rem;
            }
          }
        }
      }


    }
  }

  .main-navigation {
    &__menu {
      flex: 1;
      display: block;

      .menu {
        .menu-item {

          &:hover {
            background-color: variables.$secondary-color;
            .sub-menu {
              display: block;
            }
          }

          a {
            padding: 12px 22px;
          }

        }
      }

    }

    &__logo img {
      width: 100px;
      height: 100px;
    }

    &__burger {
      display: none;
    }
  }
}

body.is-not-scrollable {
  .main-navigation {
    &__burger {
      display: block;
    }
  }
}