@use "variables";

.navbar {

  .menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .menu-item > a {
      text-decoration: none;
    }
  }

}

.sub-navigation {
  height: 2rem;
  background-color: variables.$secondary-color;
}

.main-navigation {

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    flex: 1;
  }

  &__logo img {
    width: 100px;
    height: 100px;
  }

}